.JoinForm {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    font-size: 16px;
}

.form-container {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    color: #333;
    text-align: left;
}

input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* input을 가득 채우도록 설정 */
    box-sizing: border-box; /* padding과 border를 포함한 전체 크기를 사용하도록 설정 */
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.error {
    color: #f00;
    margin-top: 10px;
}