  .main-container {
      text-align: center;
  }

  .login-link {
      font-size: 2vh;
  }

  .main-main {
      padding: 20px;
      background-color: skyblue;
      min-height: 80vh;
      font-size: 3vh;
  }